{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}
<h2>Articles</h2>

<div>
{% for article in articles %}
<div>
<p>{{article.id}}</p>
<p>{{article.Title}}</p>
<p> Créer le {{ article.date|date("d/m/Y") }} à {{ article.date|date("H:m") }}</p>
<p>{{article.description}}</p>

<a href="{{ path('article', {'id':article.id}) }}"> Voir Article</a>
</div>

{% endfor %}




</div>

{% endblock %}
